* {
  // outline: 1px solid green;
}

body {
  max-width: rem(1440);
  margin: 0 auto;
  font-family: "Space Grotesk", sans-serif;
  padding-top: rem(16);
  padding-bottom: rem(32);
}

.main-container {
  margin: 0 auto;
  max-width: rem(1170);
}

@media (max-width: $sm) {
  body {
    max-width: rem(375);
    margin: 0 auto;
  }
  .main-container {
    max-width: rem(329);
  }
}
