button {
  display: inline-block;
  font-size: rem(14);
  font-weight: 700;
  line-height: rem(18);
  padding: rem(15) rem(30);
  text-align: center;
  text-transform: uppercase;
  border-radius: rem(4);
  background: transparent;
}

button {
  border: 1px solid $lightgrey;
  color: $primary;
  transition: 0.7s;
  &:hover {
    background-color: $secondary;
    border: 0;
    color: $white;
  }
}

button.main-content__button {
  background-color: $secondary;
  color: $white;
  transition: 0.7s;
  border: 0;
  &:hover {
    background-color: transparent;
    border: 1px solid $lightgrey;
    color: $primary;
  }
}
